// Theme mods (just-the-docs)

@media (min-width: 70rem) {
    .side-bar {
        width:calc((100% - 70rem) / 2 + 16.5rem);
        min-width: 16.5rem
    }
}

@media (min-width: 70rem) {
    .side-bar+.main {
        margin-left:Max(16.5rem, calc((100% - 70rem) / 2 + 16.5rem))
    }
}

@media (min-width: 50rem) {
    .main {
        position:relative;
        max-width: 60vw;
    }
}

// FIGURES

figure {
  margin: 2rem 0 2rem 8rem;
}
figcaption {
  display: block;
  font-style: italic;
  font-size: 0.9rem;
}

// SPLASH

hr.splash {
  color: #f2f2f2;
  clear: both;
  background: none;
}
hr.splash+p {
  float: left;
  padding-right: 2rem;
}
hr.splash+p>img {
  max-width: 16rem;
  max-height: 16rem;
}

// TOURS

div.tour+h6 {
  float: right;
  clear: both;
}

// DETAILS

details[open] {
  margin-bottom: 2rem;
}
details[open] summary {
  margin-bottom: 1rem;
}

// LINKS
// To style links, add #stylename to the end of the href value

a[href*="#please-read"] {
  color: var(--dark-red);
  font-weight: bold;
}
