// Theme mods (just-the-docs)

@media (min-width: 66.5rem) {
  .main {
      position:relative;
      //max-width: 60vw;
      max-width:calc(90% - 22rem);
  }
  .side-bar {
      //width:calc(10% + 16.5rem);
      //min-width: 16.5rem
    width: 22rem;
  }
  .side-bar+.main {
    margin-left: Max(22rem, calc(5% + 22rem))
  }
  .site-nav, .site-header, .site-footer {
    width: 20rem;
  }
}

p.warning-title>p:first-child,
blockquote.warning-title>p:first-child,
p.note-title>p:first-child,
blockquote.note-title>p:first-child,
p.information-title>p:first-child,
blockquote.information-title>p:first-child,
p.tip-title>p:first-child,
blockquote.tip-title>p:first-child,
{
  font-size: inherit;
  font-weight: inherit;
  text-transform: inherit;
}

blockquote.note-title,
blockquote.tip-title,
blockquote.information-title,
blockquote.warning-title {
  margin: 3rem 0;
}

blockquote.note-title i,
blockquote.tip-title i,
blockquote.information-title i,
blockquote.warning-title i {
  margin-right: 1rem;
}


.side-by-side {
  display: inline-block;
  margin: 2rem;
  min-width: 25vw;
}

// LISTS

.main-content ul.equation-symbols>li::before {
  content: none;
}

.equation-symbols {
  list-style-type: none;
  margin-left: 4rem;
}

// IMAGES

.icon {
  font-size: large;
  color: $grey-dk-100;
}
.icon-prefix {
  display: none;
}
.icon-prefix + .language-shell,
.icon-prefix + figure.highlight {
  margin: -3rem 0 0 2rem;
}

// FIGURES

figure {
  margin: 2rem 0 2rem 8rem;
}
figure.highlight {
  margin: 0;
}
figure.small-fig img {
  max-width: 30rem;
  max-height: 30rem;
}
figcaption p.figcaption {
  display: block;
  font-style: italic;
  font-size: 0.9rem;
}

figure.h10 img {max-height: 10rem;}
figure.h20 img {max-height: 20rem;}
figure.h30 img {max-height: 30rem;}
figure.h50 img {max-height: 50rem;}
figure.w10 img {max-width: 10rem;}
figure.w20 img {max-width: 20rem;}
figure.w30 img {max-width: 30rem;}
figure.w50 img {max-width: 50rem;}
figure img {
  max-width: 40rem;
  max-height: 40rem;
}

p.figcaption {
  margin: 0 5rem;
}

.figure-labels {
  counter-reset: section;
  list-style: none;
  margin-left: 3.5rem;
}
.figure-labels li {
  margin: 0 0 10px 0;
  line-height: 40px;
}
.main-content ul.figure-labels>li::before {
  content: counter(section);
  counter-increment: section;
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 0 20px 0 -3.5rem;
  border: 1px solid #ccc;
  border-radius: 100%;
  text-align: center;
}

// Center mermaid diagrams

svg[role="graphics-document document"] {
  display: block;
  margin: 0 auto;
}



// SPLASH

hr.splash, hr.splash-bottom {
  color: #fff;
  clear: both;
  background: none;
}
hr.splash+p {
  float: left;
  padding-right: 2rem;
}
hr.splash+p>img {
  max-width: 16rem;
  max-height: 16rem;
}

// TOURS

div.tour+h6 {
  float: right;
  clear: both;
}

// LINKS
// To style links, add #stylename to the end of the href value

//a[href*="#please-read"] {
//  color: $dark-red;
//  font-weight: bold;
//}

// DETAILS

details[open] {
  margin-bottom: 2rem;
}
details[open] summary {
  margin-bottom: 1rem;
}

details summary img {
    vertical-align: middle !important;
}
details p {
    margin: 1em 0 1em 1em;
}
details.blue-bar,
details.green-bar {
    margin: 0.6em;
}
details.blue-bar summary,
details.green-bar summary {
    padding-left: 1rem;
}
details.blue-bar summary {
    background-color: $blue-lt-000;
}
details.green-bar summary {
    background-color: $green-lt-000;
}
details.marker-after summary {
  list-style: none;
}
details.marker-after summary::-webkit-details-marker {
  display: none
}
details.marker-after summary::after {
  content: '▶';
}
details.marker-after[open] summary:after {
  content: "▼";
}

//Big blockquote

blockquote.pretty {
  font-size: 140%;
  margin: 2em 5em;
  border-left: none;
  color: darkslategrey;
}
blockquote.pretty::before {
  content: url("../../images/open_quotes.png");
  margin-right: 1rem;
  margin-top: -26px;
}
blockquote.pretty::after {
    content: url("../../images/close_quotes.png");
  margin-left: 1rem;
  vertical-align: top;
}

.attribution {
    font-style: italic;
    font-size: 0.9em;
    margin-right: 10em;
    text-align: right;
}
.credit {
    font-style: italic;
    font-size: 0.6rem;
    clear: both;
}

// Table of contents
// Requires the jekyll-toc plugin: https://github.com/allejo/jekyll-toc
// Placeholder in the default.html layout file

div.toc-container {
    position: sticky;
    top: 0;
    float: right;
    background-color: white;
    z-index: 99;
    width: fit-content;
    padding: 0.75rem;
    margin-top: -2.75rem
}

div.toc-container summary {
  color: grey;
}

div.toc-container details > ul {
  list-style: none;
}

div.toc-container details > ul > ul {
  list-style: disc;
}

// TABLES

//Remove the table wrapper shadow by preceding the table with <hr class="hide-wrapper">

hr.hide-wrapper {
  background-color: unset;
}

hr.hide-wrapper + div.table-wrapper {
  box-shadow: none;
}
table.quadrants {
  min-width: inherit;
}
table.quanrants td {
  font-size: large !important;
}
table.quadrants th,
table.quadrants td {
  text-align: center;
  padding: 1rem;
  border: none;
  max-width: 12rem;

}
table.quadrants tr:nth-child(1) td,
table.quadrants tr:nth-child(2) td {
    height: 8rem;
    border: 1px solid grey;
}
table.quadrants tr:first-child th:first-child {
  vertical-align: bottom;
}
table.quadrants tr:first-child th:nth-child(2),
table.quadrants tr:nth-child(2) th:first-child {
  text-align: right;
}

table.quadrants tr:nth-child(1) td:nth-child(3),
table.quadrants tr:nth-child(2) td:nth-child(3) {
    background-color: $blue-lt-000;
}
table.quadrants tr:nth-child(1) td:nth-child(4) {
    background-color: $green-lt-000;
}
table.quadrants tr:nth-child(2) td:nth-child(2) {
    background-color: $red-lt-000;
}

table.quadrants tr:first-child th:first-child {
    transform: rotate(-90deg);

    /* Legacy vendor prefixes that you probably don't need... */
    /* Safari */
    -webkit-transform: rotate(-90deg);
    /* Firefox */
    -moz-transform: rotate(-90deg);
    /* IE */
    -ms-transform: rotate(-90deg);
    /* Opera */
    -o-transform: rotate(-90deg);
}


// SLIDES

/* Slide trigger */
.slide {
  cursor: pointer;
  width: 2em;
  height: 2em;
  margin-right: -5rem;
  float: right;
  font-weight: lighter !important;
}

/* Slide background - covers other page contents */
.slide-outer {
  visibility: hidden;
  width: 100vw;
  height: 100vh;
  background-color: #FFF;
  /*text-align: center;*/
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
}

#slide-close {
  position: absolute;
  top: 10px;
  right: 10px;
  display: inline;
  width: 2.4rem;
  height: 2.4rem;
  padding: 0 0.2rem 0.2rem 0.2rem;
  background-color: #fff;
  border: 1px solid #ddd;
  color: #ddd;
  font-size: 1.6rem;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
}

#slide-close:hover {
  color: white;
  background-color: #ddd;
}

/* Appears at the top of the slide */
#slide-title {
  width: 100%;
  font-size: 2.5vw;
  font-weight: bold;
  text-align: center;;
  position: fixed;
  top: 1em;
  z-index: 100;
  margin: 0 !important;
}

.slide-title-text {
  visibility: hidden;
}

/* Slide content container - innerHTML is set on click */
.slide-inner {
  max-width: 90%;
  max-height: 75vh;
  text-align: center;
  font-size: 2.5vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.slide-inner img {
  max-width: 90%;
  max-height: 75vh;
  margin: 0 auto;
}

.slide-inner .slide-img-wide {
  max-width: none !important;
  width: 100%;
  height: auto;
}

.slide-inner .slide-img-high {
  max-width: none !important;
  height: 100%;
  width: auto;
}

.slide-inner table {
  font-size: 2.5vw;
}

.slide-inner .linenos  {
  font-size: 2.5vw;
  padding-top: 0;
}

.slide-inner table,
.slide-inner ul,
.slide-inner ol,
.slide-inner blockquote,
.slide-inner blockquote ul,
.slide-inner blockquote ol {
  text-align: left;
  display: block;
}

.slide-inner table tbody tr:nth-child(even) {
  background-color: whitesmoke;
}

.slide-inner table th,
.slide-inner table td {
  padding: 0.3em;
}

.slide-inner table th {
  font-weight: bold;
  background-color: steelblue;
  color: white;
}

.slide-inner table td {
  font-weight: normal;
  border: 1px solid lightgrey;
}

.slide-inner li {
  margin-bottom: 0.5em;
}

.slide-inner .highlight .table-wrapper td,
.slide-inner .highlight .table-wrapper pre {
  font-size: 1.2rem !important;
}

.slide-inner img {
    max-width: 90vw;
    max-height: 75vh;
}

.gitTitleText {
  display: none;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}
