---
---

@import "{{ site.theme }}";

// Theme mods (just-the-docs)
body {
  --pale-red: #fcf1f1;
  --dark-red: #900401;
  --pale-blue: #f1f2fc;
  --dark-blue: #011390;
  --pale-green: #f2fcf1;
  --dark-green: #209001;
  --pale-orange: #fcf6f1;
  --dark-orange: #903e01;
  --pale-yellow: #fcfbf1;
  --dark-yellow: #908801;
  --pale-purple: #f8f1fc;
  --dark-purple: #5a0190;
  --pale-teal: #f1fafc;
  --dark-teal: #017696;
  --light-grey: #f0f0f0;
  --code-background: #f8f9fa;
  font-size: 1.3rem;
}
